.header {
  position: absolute;
  z-index: 99;
  top: 16px;
  left: 0;
  width: 100%;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: none;
}

.linksList {
  display: flex;
  align-items: center;
  gap: 40px;
}

.buttonsList {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  display: block;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--white-main);

  transition: transform var(--duration) var(--time-function);
}

.link:hover,
.link:focus {
  transform: scale(1.1);
}

button.button {
  padding: 14px 40px;
  height: 48px;

  font-size: 16px;
  line-height: 125%;
}

.modal {
  width: 100%;
  max-width: calc(100vw - 40px);
  background-color: var(--white-main);
  border-radius: 30px;
  padding: 44px 24px 24px 24px;
}

@media (min-width: 375px) {
  .modal {
    max-width: 340px;
  }
}

.menuModal {
  background-color: var(--theme-main);
  border-radius: 30px;
  padding: 64px 32px 32px 32px;
  top: 16px;
  left: calc(100vw - 248px);
  transform: none;
}

@media (min-width: 768px) {
  .header {
    top: 16px;
    padding: 16px 56px;
  }

  .right {
    display: flex;
    gap: 28px;
  }

  .linksList {
    gap: 24px;
  }

  button.button {
    padding: 14px 24px;
    height: 48px;
  }

  .menuButton {
    display: none;
  }

  .modal {
    width: 100%;
    max-width: 566px;
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  .header {
    top: 28px;
    padding: 20px 96px;
  }

  .right {
    gap: 92px;
  }

  .linksList {
    gap: 40px;
  }

  button.button {
    padding: 14px 40px;
    height: 48px;
  }

  .modal {
    padding: 64px;
  }
}

@media (min-width: 1440px) {
  .header {
    top: 32px;
    padding: 20px 96px;
  }
}
